@model UsuarioModel

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Nome!</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
		aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul class="navbar-nav flex-grow-1">
		<!--Link da página da Home.-->
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a>
		</li>
		<!--Link da página de Contatos.-->
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contatos</a>
		</li>

		@if (Model.NivelPermissao != Agenda.Contatos.Enums.Permissao.Padrao)
		{
			<!--Link da página de Contatos.-->
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="TipoContato" asp-action="Index"> Tipos de Contato</a>
			</li>
			<!--Link da página de Usuários.-->
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
			</li>
			<!--Link da página de redefinição de senha.-->
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="NovaSenha" asp-action="Index">Alterar Senha</a>
			</li>

		}

		<!--Link da página sobre o autor.-->
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre o Desenvolvedor</a>
		</li>
		<!--Link para deslogar. IMPLEMENTAR UM BOTÃO.-->
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="EncerrarSessao">Sair</a>
		</li>
	</ul>
</div>