@{
	ViewData["Title"] = "Cadastro de contatos";
}
<!--Botão de voltar para tela anterior.-->
<button onclick="history.back()" title="Clique para voltar">Voltar</button>

<form autocomplete="on">
	<!--Asp action -->
	<div class="text-center">
		<h1 class="display-4">Cadastrar contatos</h1>
	</div>

	<div class="form-group">
		<label for="nome">Nome</label>
		<input type="text" class="form-control" placeholder="Digite o nome do contato">
	</div>

	<div class="form-group">
		<label for="email">Endereço de e-mail</label>
		<input type="email" class="form-control" placeholder="Digite o endereço de e-mail">
	</div>

	<div class="form-group">
		<label for="celular">Celular</label>
		<input type="number" class="form-control" placeholder="Digite o número do telefone celular">
	</div>

	<div class="form-group">
		<label for="pais">País</label>
		<input type="text" class="form-control" placeholder="Digite o nome do País">
	</div>

	<div class="form-group">
		<label for="estado">Estado/Província</label>
		<input type="text" class="form-control" placeholder="Digite o nome do Estado/Província">
	</div>

	<select class="form-select" aria-label="Default select example">
		<option selected>Selecione o tipo de contato</option>
		<option value="1">Família</option>
		<option value="2">Faculdade</option>
		<option value="3">Trabalho</option>
		<option value="4">Adicionar tipo inexistente</option>
	</select>
	<br />
	<br />

	<!--Botão para enviar todo o formulário-->
	<button type="submit" class="btn btn-primary">Adicionar</button>
	<!--Voltar a página inicial-->
	<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Página Inicial</a>
</form>