<h2> Olá, Sou o Sebastião Regi, Desenvolvedor Web Júnior! 👋<</h2>

<div>
	<p>
		Sou um técnico em desenvolvimento de sistemas, tendo experiência como Desenvolvedor Web Júnior.
		Tenho vários conhecimento em .NET, MySql, MongoDb, PHP, Bash, Linux, GitHub e recentemente aprendendo Java.
		Tornei um imigrante brasileiro em Portugal em 2022 junto com minha família!

	</p>
</div>
