
@{
	Layout = "_LayoutLoggedOut";
	ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão para acesssar essa funcionalidade!</p><a asp-controller="Home" asp-action="Index">Clique para voltar para Home.</a>

